.btn-orange {
  margin:0px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px 20px;
}

.btn-orange:hover {
  background-color: white;
  color: orange;
  font-weight: bold;
  border: orange solid 1px;
  border-radius: 50px;
  padding: 10px 20px;
  width: 130px;
}
