.footer {
  list-style: none;
  padding: 0px;
  margin-top: 30px;
  text-align: center;
}

.footer ul {
  margin: 20px;
}

.footer li {
  display: inline-block;
  font-size: 40px;
  margin: 0px 50px;
}

.footer a {
  text-align: space-between;
  color: rgb(75,75,75);
  opacity: 0.8;

}

.footer a:hover {
opacity: 1;
}
